<h1>Stylists</h1>

@foreach (var stylist in Model)
{
  <h3><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></h3>
}

<p><a href='/'>Return to Home</a></p>
<p><a href='/stylists/new'>Hire a new Stylist</a></p>
