<h1>Hiring Process</h1>
<p>Hire a Stylist:</p>

<form action="/stylists" method="post">
  <label for="stylistName">Name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back To Home</a></p>
<p><a href="/categories">Back To Stylists.</a></p>
