@{
  Layout = "_Layout";
}

<h3>Here are all the Clients for this Stylist: @Model["stylist"].GetName()</h3>


<ol>
@foreach (var client in @Model["clients"])
{
  <li>@client.GetName()</li>
}
</ol>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a New Client</a></p>
<p><a href='/stylists'>Return to Stylists Page</a></p>
<p><a href='/'>Return to Main Page</a></p>
<form action='/stylists/@Model["stylist"].GetId()/clients/delete' method="post">
  <button type="submit" name="delete">Delete ALL Clients</button>
</form>
