@{
  Layout = "_Layout";
}

<h3>Here are all the Clients for this Stylist: @Model["stylist"].GetName()</h3>


<ol>
@foreach (var client in @Model["clients"])
{
  <li>@client.GetName()</li>
}
</ol>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a New Client</a></p>
<p><a href='/stylists'>Return to Stylists Page</a></p>
<p><a href='/'>Return to Main Page</a></p>
@* <p><a href '/stylists/delete'> Delete All Clients</a></p> *@
