@{
  Layout = "_Layout";
}

<h1>Clients</h1>

@foreach (var client in Model)
{
  <h3><a href="clients/@client.GetId()">@client.GetName()</a></h3>
}

<h4><a href="/clients/new"> Add New Client</a></h4>
<h4><a href="/stylists">Go to Stylist Page</a></h4>
<h4><a href="/">Return home</a></h4>
<form action='/clients/delete' method="post">
  <button class="btn btn-danger"type="submit" name="delete">Delete ALL Clients</button>
</form>
